<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>ProcessPNInfo2</display-name>
    <servlet-name>ProcessPNInfo2</servlet-name>
    <servlet-class>ProcessPNInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPNInfo2</servlet-name>
    <url-pattern>/ProcessPNInfo2</url-pattern>
  </servlet-mapping>
  <display-name>Excidion_Exercise_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProcessPNInfo</servlet-name>
    <servlet-class>ProcessPNInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_Phone_nums</servlet-name>
    <servlet-class>get_Phone_nums</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPNInfo</servlet-name>
    <url-pattern>/ProcessPNInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_Phone_nums</servlet-name>
    <url-pattern>/get_Phone_nums</url-pattern>
  </servlet-mapping>
</web-app>